.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


#IntelliJ Files
.idea/
*.iml
target/
#libs/
precompile_report.txt
pretest_report.txt
dockDockBuildParams.json

#VSCode Files
.vscode/
.classpath
.project
.settings/

#OS files
.DS_Store

in.txt
run.pid
Test_Output/
